// RESETS
html, body {
  margin: 0;
  font-size: 10px;
}

p, h2 {
  margin: 0;
}

// INCLUDES

// COLORS
$l-bg: hsl(215, 20%, 95%);
$light: hsl(215, 0%, 100%);
$dark: hsl(215, 20%, 20%);
$gray: hsl(215, 20%, 70%);
$blue: hsl(210, 75%, 60%);
$green: hsl(145, 45%, 50%);
$red: hsl(0, 90%, 70%);
$l-gray: hsl(215, 20%, 76%);
$l-blue: hsl(210, 75%, 76%);
$l-green: hsl(145, 45%, 75%);
$l-red: hsl(0, 90%, 70%);
$d-gray: hsl(215, 20%, 35%);

// EFFECTS
$top: 0 .5rem 1rem .2rem $dark;
$bottom: 0 .5rem 1rem -.7rem $dark;

// SPACING
$x-3: 2px;
$x-2: 4px;
$x1: 8px;
$x2: 16px;
$x3: 32px;
$x4: 48px;
$touch-h: 46px;

// FONTS
$sans: sans-serif;

// TYPOGRAPHY
.t-body {
  font-family: $sans;
}

.t-description {
  font-size: 1.6rem;
  font-weight: bold;
}

.t-date {
  font-family: monospace;
  font-size: 1.2rem;
}

.t-tag {
  font-size: 1.4rem;
}

.t-amount {
  font-size: 1.8rem;
  font-weight: bold;
}

.t-output {
  font-size: 2.4rem;
  font-weight: bold;
}

.t-button {
  font-size: 1.6rem;
  font-weight: bold;
}

.t-heading {
  font-size: 1.6rem;
  font-weight: bold;
}

// UTILITIES
.button {
  height: $touch-h;
  box-sizing: border-box;
  padding: $x1 $x2;
  border: none;
  color: $dark;
  // box-shadow: $top;
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.button-income {
  background-color: $l-green;
}

.button-service {
  background-color: $l-blue;
}

.button-expense {
  background-color: $l-gray;
}

// BASIC
// STARTIN SCREEN
.body {
  background-color: $l-bg;
}

.main {
  min-height: 100vh;
}

.logs {
  padding: $x2;
  display: flex;
  flex-direction: column;
}

.log {
  display: flex;
  border-radius: $x2;
  box-shadow: $bottom;

  &:not(:last-child) {
    margin-bottom: $x2;
  }
}


.log-left {
  flex-grow: 1;
  padding: $x1;
  border-radius: $x1 0 0 $x1;
  background-color: $light;
  display: flex;
  align-items: baseline;
  position: relative;
  z-index: 1;
  border-width: 3px;
  border-style: solid;

  &-green {
    border-color: $green;
  }
  &-blue {
    border-color: $blue;
  }
  &-gray {
    border-color: $d-gray;
  }
}

.log__date {
  color: $d-gray;
  margin: 0 $x1;
  position: relative;
  top: -1px;
}

.log__tag {
  padding: $x-3 $x1;
  border-top-left-radius: $x1;
  position: absolute;
  right: 0;
  bottom: 0;

  &-green {
    background-color: $l-green;
  }
  &-blue {
    background-color: $l-blue;
  }
  &-gray {
    background-color: $l-gray;
  }
}

.log-right {
  padding: $x1;
  border-radius: 0 $x1 $x1 0;
  display: flex;
  align-items: center;

  &-green {
    background-color: $l-green;
  }
  &-blue {
    background-color: $l-blue;
  }
  &-gray {
    background-color: $l-gray;
  }
}

.display {
  width: 100%;
  height: 60px + $touch-h;
  box-sizing: border-box;
  padding: $x2;
  background-color: $light;
  position: fixed;
  bottom: 0;
  box-shadow: $top;
}

.display__output {
  padding: 0 $x1;
  display: flex;
  justify-content: space-between;
  position: relative;
  // to change dinamically
  &::before {
    content: '';
    width: 100%;
    height: $x1;
    background-color: $l-green;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
  }
}

.control {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}

.control__income {
  border-top-right-radius: $x2;
}

.control__service {
  margin: 0 $x1;
  border-top-left-radius: $x2;
  border-top-right-radius: $x2;
}

.control__expense {
  border-top-left-radius: $x2;
  text-align: right;
  flex-grow: 1;
}

// MODALS

.modal {
  &::before {
    content: '';
    background-color: $dark;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
    z-index: 1;
  }

  &-back-button {
    border-top-right-radius: $x2;
    background-color: $gray;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.modal-content {
  background-color: $light;
  border-radius: $x2;
  position: fixed;
  bottom: 80px;
  left: 5%;
  right: 5%;
  opacity: .9;
  z-index: 1;
  border-width: 3px;
  border-style: solid;

  &-green {
    border-color: $green;
    background-image: linear-gradient(to bottom, $l-green $x3, transparent $x3);

    .modal__heading {

    }

    .modal__form {
      &-button {
        background-color: $l-green;
      }
    }
  }
  &-blue {
    border-color: $blue;
  }
  &-gray {
    border-color: $d-gray;
  }
}

.modal__heading {
  height: $x3;
  box-sizing: border-box;
  padding: $x1;
}

.modal__form {
  padding: $x1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-section {
    display: flex;
    align-items: center;
  }

  &-input-label {
    margin-bottom: $x1;
  }
  &-input {
    margin-bottom: $x2;
  }
  &-checkbox {

  }
  &-checkbox-label {
    margin-left: $x1;
  }
  &-button {
    border-radius: $x2 0 12px 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
