html, body {
  margin: 0;
  font-size: 10px; }

p {
  margin: 0; }

.t-main {
  font-family: sans-serif; }

.t-description {
  font-size: 1.6rem;
  font-weight: bold; }

.t-date {
  font-family: monospace;
  font-size: 1.2rem; }

.t-tag {
  font-size: 1.4rem; }

.t-amount {
  font-size: 1.8rem;
  font-weight: bold; }

.t-output {
  font-size: 2.4rem;
  font-weight: bold; }

.t-button {
  font-size: 1.6rem;
  font-weight: bold; }

.button {
  height: 46px;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  color: #29313d; }
  .button:hover {
    cursor: pointer;
    opacity: .8; }

.button-income {
  background-color: #7ece9f; }

.button-service {
  background-color: #94c2f0; }

.button-expense {
  background-color: #b6c0ce; }

.body {
  background-color: #f0f2f5; }

.main {
  min-height: 100vh; }

.logs {
  padding: 16px;
  display: flex;
  flex-direction: column; }

.log {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 0.5rem 1rem -0.7rem #29313d; }

.log-left {
  flex-grow: 1;
  padding: 8px;
  border-radius: 8px 0 0 8px;
  background-color: white;
  display: flex;
  align-items: baseline;
  position: relative;
  z-index: 1;
  border-width: 3px;
  border-style: solid;
  border-color: #46b976; }

.log__date {
  color: #47566b;
  margin: 0 8px;
  position: relative;
  top: -1px; }

.log__tag {
  padding: 2px 8px;
  border-top-left-radius: 8px;
  background-color: #7ece9f;
  position: absolute;
  right: 0;
  bottom: 0; }

.log-right {
  padding: 8px;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  background-color: #7ece9f; }

.display {
  width: 100%;
  height: 106px;
  box-sizing: border-box;
  padding: 16px;
  background-color: white;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0.5rem 1rem 0.2rem #29313d; }

.display__output {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .display__output::before {
    content: '';
    width: 100%;
    height: 8px;
    background-color: #7ece9f;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1; }

.control {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0; }

.control__income {
  border-top-right-radius: 16px; }

.control__service {
  margin: 0 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px; }

.control__expense {
  border-top-left-radius: 16px;
  text-align: right;
  flex-grow: 1; }
